# Don't ignore dotfiles.
!/.*.js

# Build
/out/

# Storybook
!/components/.storybook/

subgraph/subgraph.template.yaml
subgraph/generated/

# Assemblyscript doesn't play nice with ESlint
subgraph/**/*.ts
