# Dependencies
/node_modules/

# Environment
.env.local

# Build
/.next/
/out/

# Relay
/.relay/

# Subgraph
/subgraph/subgraph.yaml

/subgraph/generated/
!subgraph/generated/.gitkeep

/subgraph/build/
!subgraph/build/.gitkeep

# Assets
/assets/seed-submissions/

.env
.vercel
