# Dependencies
/node_modules/

# Environment
.env.local

# Build
/.next/
/out/

# Relay
/.relay/

# Subgraph
/subgraph/subgraph.yaml
/subgraph/generated/
/subgraph/build/

# Assets
/assets/seed-submissions/
