# Dependencies
/node_modules/

# Build
/.next/
/out/

# Relay
/.relay/

# Subgraph
/subgraph/subgraph.template.yaml
/subgraph/subgraph.yaml
/subgraph/generated/
/subgraph/build/
/subgraph/abis/

# Assets
/assets/seed-submissions/

CONTRIBUTING.md
README.md
