.video-inner-container {
  border: 1px solid black;
  display: inline-block;
  position: relative;
}

.video-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 10px;
  padding: 5px 5px;
  font-size: 20px;
  font-family: Helvetica;
  color: #FFF;
  background-color: rgba(50, 50, 50, 0.3);
}