@import '~antd/dist/antd.css';

.video-inner-container {
  display: inline-block;
  position: relative;
  width: 100%;
}

.video-overlay {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  /* margin: 10px; */
  /* padding: 5px 5px; */
  font-size: 20px;
  /* font-family: Helvetica; */
  color: #FFF;
  background-color: rgba(50, 50, 50, 0.3);
}

.video-oval-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 90%;
  background-color: rgb(227, 253, 189);
}
a:hover {
  color: black !important;
}

.ant-button:hover {
  color: rgba(201, 203, 206, 0.815) !important;
}
.ant-slider-track {
  background-color: #ffb978 !important
}
.ant-slider-handle {

  border: solid 2px #000000 !important;
  background-color: black
}
.ant-slider-handle:hover {
  background: '#ffb978' !important
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ffb978 !important;
  border-color: #ffb978 !important;
}
.ant-input {
  border: solid 3px #ffb978 !important;
  border-radius: 10px;
  color: #ffb978;
  display: block;
  margin: 0 auto;
}
.center {
  display: block;
  margin: 0 auto;
}
.video-mode-buttons {
  background-color: #f0f2f5;
  font-weight: bold;
  margin: 10px;
  border-color: #f0f2f5;
  height: max-content;
}
.video-mode-buttons:hover {
  color: currentColor !important;
  border-color: #fff;
  background-color: #fff !important;
}
.buttons-camera-container {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 20px;
  /* font-family: Helvetica; */
  color: #FFF;
  background-color: #000;
}

.steps-content > div > .ant-row > .ant-space {
  width: 100%;
}

.poh-header {
  background-image: linear-gradient(90.13deg,var(--theme-ui-colors-accent,#ffb978) 49.89%,var(--theme-ui-colors-accentComplement,#fdc9d3) 93.37%);
  z-index: 1;
  /* color: var(--theme-ui-colors-background,#fffffa); */
}

.poh-header-menu {
  background-color: transparent;
  border: none !important;
  height: 100% !important;
}

.poh-header-item {
  color: initial !important;
}

.poh-header-item::after {
  border-bottom: none !important;
}

.poh-footer {
  background-image: linear-gradient(90.13deg,var(--theme-ui-colors-accent,#ffb978) 49.89%,var(--theme-ui-colors-accentComplement,#fdc9d3) 93.37%);
  height: 76px;
}

.poh-header-text,
.poh-footer-text {
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: var(--theme-ui-colors-background, #fffffa) !important;
  font-weight: 600;
  text-decoration: none;
}

.poh-header-text:hover,
.poh-footer-text:hover {
  color: var(--theme-ui-colors-background, #fffffa) !important;
}

/* Main content use all screen */
.poh-content {
  min-height: calc(100vh - 64px - 76px);
}

/* Header buttons */
.poh-header > div > div > div > button {
  line-height: initial !important;
}
.button-orange {
  font-weight: bold;
  display: block;
  margin: 0 auto;
  background-color: #ffb978 !important;
  border: none;
  color: white
}
.button-grey {
  font-weight: bold;
  display: block;
  margin: 0 auto;
  background-color: #95a5a6 !important;
  border: none;
  color: white
}
.button-orange:hover {
  color: currentColor !important;
}
.button-orange-camera {
  font-weight: bold;
  display: block;
  margin: 0 auto;
  background-color: #ffb978 !important;
  border: none;
  color: white
}
.button-orange-camera:hover {
  color: currentColor !important;
}
.button-grey:hover {
  color: currentColor !important;
}
.button-orange:hover:disabled {
  color: rgba(0, 0, 0, 0.25)
}
.dragger {
  width: 25%!important;
  height: max-content!important;
  background-color: #ffb978!important;
  font-weight: bold;
  display: block;
  margin: 15px auto;
  border: none!important;
  border-radius: 10px!important;
}
.slider{
      padding: 22px 0px;
      margin-left: 32;
        
}
