@import '~antd/dist/antd.css';

.video-inner-container {
  display: inline-block;
  position: relative;
}

.video-overlay {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  text-align: center;
  /* margin: 10px; */
  /* padding: 5px 5px; */
  font-size: 20px;
  /* font-family: Helvetica; */
  color: #FFF;
  background-color: rgba(50, 50, 50, 0.3);
}

.video-oval-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 90%;
  background-color: rgb(227, 253, 189);
}
a:hover{
  color: black!important;
}

.ant-button:hover{
  color:rgba(201, 203, 206, 0.815)!important;
}
.ant-slider-track{
  background-color:#ffb978!important
}
.ant-slider-handle{
  
  border:solid 2px #000000!important;
  background-color:black
}
.ant-slider-handle:hover{
  background:'#ffb978'!important
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ffb978!important;
  border-color: #ffb978!important;
}
.ant-input{
  border: solid 3px #ffb978 !important;
  border-radius:10px;
  color: #ffb978;
  display:block;
  margin:0 auto;
}
.buttons-camera{
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  text-align: center;
  /* margin: 10px; */
  /* padding: 5px 5px; */
  font-size: 20px;
  /* font-family: Helvetica; */
  color: #FFF;
}

.poh-header {
  background-image: linear-gradient(90.13deg,var(--theme-ui-colors-accent,#ffb978) 49.89%,var(--theme-ui-colors-accentComplement,#fdc9d3) 93.37%);
  z-index: 1;
  /* color: var(--theme-ui-colors-background,#fffffa); */
}

.poh-header-menu {
  background-color: transparent;
  border: none !important;
  height: 100% !important;
}

.poh-header-item {
  color: initial !important;
}

.poh-header-item::after {
  border-bottom: none !important;
}

.poh-footer {
  background-image: linear-gradient(90.13deg,var(--theme-ui-colors-accent,#ffb978) 49.89%,var(--theme-ui-colors-accentComplement,#fdc9d3) 93.37%);
  height: 76px;
}

.poh-header-text, .poh-footer-text {
  font-size: 18px;
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: var(--theme-ui-colors-background,#fffffa) !important;
  font-weight: 600;
  text-decoration: none;
}

.poh-header-text:hover, .poh-footer-text:hover {
  color: var(--theme-ui-colors-background,#fffffa) !important;
}

/* Main content use all screen */
.poh-content {
  min-height: calc(100vh - 64px - 76px);
}

/* Header buttons */
.poh-header > div > div > div > button {
  line-height: initial !important;
}