@import '~antd/dist/antd.css';

.video-inner-container {
  display: inline-block;
  position: relative;
  width: 100%;
}

.video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  vertical-align: middle;
  white-space:pre-wrap;
  /* margin: 10px; */
  /* padding: 5px 5px; */
  font-size: 25px;
  /* font-family: Helvetica; */
  color: #FFF;
  font-weight: bold;
  background-color: rgba(30, 30, 30, 0.4);
}
.video-overlay-content{
  top: 50%;
}

.video-oval-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 90%;
  background-color: rgb(227, 253, 189);
}
.video-mirrored{
  transform:scaleX(-1);
}
.video-mirrored video::-webkit-media-controls-panel{
  transform:rotateY(180deg);
}

a:hover {
  color: #fff !important;
}

.ant-button:hover {
  color: rgba(201, 203, 206, 0.815) !important;
}
.ant-slider-track {
  background-color: #1890ff !important;
}
.ant-slider-handle {
  border: solid 2px #1890ff !important;
  background-color: #1890ff;
}
.ant-slider-handle:hover {
  background: '#b6ff9c' !important
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #40a9ff !important;
  border-color: #40a9ff !important;
}
.ant-input {
  border: solid 1px #f8b42f !important;
  border-radius: 6px;
  background-color: #1e1e1e;
  padding: 15px;
  color: #fff;
  display: block;
  margin: 0 auto;
  box-shadow: 6px 6px 0px black;
}

.ant-input.ant-input-status-error, .ant-input:hover {
  background-color: #1e1e1e;
  box-shadow: 6px 6px 0px black;
}

.center {
  display: block;
  margin: 0 auto;
}
.video-mode-buttons {
  background-color: #fff;
  font-weight: bold;
  margin: 0 auto;
  border-color: #f0f2f5;
  text-align:center;
  cursor: pointer;
}
.video-mode-buttons:hover {
  color: currentColor !important;
  border-color: #fff;
  background-color: #f0f2f5 !important;
}
.buttons-camera-container {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 3%;
  text-align: center;
  font-size: 20px;
  /* font-family: Helvetica; */
  color: #FFF;
}

.steps-content > div > .ant-row > .ant-space {
  width: 100%;
}

.poh-header {
  background-image: linear-gradient(90.13deg, var(--theme-ui-colors-accent, #fbb630) 49.89%, var(--theme-ui-colors-accentComplement, #ff81b7) 93.37%);
  box-shadow: inset 0px -20px 20px -20px #00000091;
  /* background-color: #691073; */
  z-index: 1;
  /* color: var(--theme-ui-colors-background,#fffffa); */
}

.poh-header-menu {
  background-color: transparent;
  border: none !important;
  height: 100% !important;
}

.poh-header-item {
  color: initial !important;
  text-align: center;
}

.poh-header-item::after {
  border-bottom: none !important;
}

.poh-footer {
  background-image: linear-gradient(90.13deg, var(--theme-ui-colors-accent, #fbb630) 49.89%, var(--theme-ui-colors-accentComplement, #ff81b7) 93.37%);
  box-shadow: inset 0px 20px 20px -20px #00000091;
  /* background-image: linear-gradient(90.13deg,var(--theme-ui-colors-accent,#b6ff9c) 49.89%,var(--theme-ui-colors-accentComplement,#fdc9d3) 93.37%); */
  height: 76px;
  /* background-color: #691073; */
}

.ant-dropdown-menu {
  min-width: 160px;
  margin-left: -60px;
}

.poh-header-text,
.poh-footer-text {
  font-size: 14px;
  box-sizing: border-box;
  margin: 0px 5px;
  min-width: 0;
  color: var(--theme-ui-colors-background, #fffffa) !important;
  font-weight: 500;
  text-decoration: none;
  /* padding: 12px 0px 0px 12px; */
  background-color: #22222280;
  box-shadow: 0px 7px 7px -8px black;
  padding: 8px 24px;
  border-radius: 32px;
}

.poh-drawer-text {
  font-size: 18px;
  font-weight: 500;
  margin: 12px 0px !important;
  color: black !important;
  text-decoration: none;
  box-sizing: border-box;
  padding: 12px 0px 0px 12px;
}

.poh-header-text:hover,
.poh-footer-text:hover {
  color: var(--theme-ui-colors-background, #fffffa) !important;
  background-color: #222222d6;
}

.poh-drawer-text:hover {
  color: initial !important;
}

/* Main content use all screen */
.poh-content {
  padding: 32px;
  min-height: calc(100vh - 64px - 76px);
  background: #171717;
}
a.ant-typography, .ant-typography a {
  color: var(--theme-ui-colors-primary, #fab62f);
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  text-decoration: none;
}

.ant-typography a:hover {
  text-decoration: underline;
}


.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
  color: white;
}

.ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
  color: white;
}

h5.ant-typography,
div.ant-typography-h5,
div.ant-typography-h5>textarea,
.ant-typography h5 {
  margin-bottom: 0.5em;
  color: rgb(255 255 255 / 85%);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

/* Header buttons */
.poh-header > div > div > div > button {
  line-height: initial !important;
}
.button-orange, .button-grey {
  font-weight: bold;
  display: block;
  margin: 32px auto;
  background: #7dffb5;
  border: none;
  color: var(--theme-ui-colors-background, #222);
  height: auto;
  box-shadow: inset 0px -16px 20px -20px black;
  padding: 12px 24px;
}


.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
  color: #fff;
}

.ant-form-item-explain-error {
  margin: 5px 0px 20px;
}

.button-orange:hover, .button-grey:hover {
  background-color: #40a9ff;
  color: white;
}
.button-orange-camera, .button-grey-camera {
  font-weight: bold;
  display: block;
  margin: 0 auto;
  background-color: #7dffb5 !important;
  box-shadow:inset 0px -16px 20px -20px black;
  /* width:25%; */
  border: none;
  color: white
}
.button-orange-camera:hover, .button-grey-camera:hover {
  color: currentColor !important;
}

.button-orange:hover:disabled, .button-grey:hover:disabled {
  color: rgba(0, 0, 0, 0.25)
}
.dragger {
  border: solid 1px #f8b42f !important;
  background-color: #1e1e1e !important;
  font-weight: bold !important;
  box-shadow: 6px 6px 0px black;
  /* border: none!important; */
  border-radius: 6px !important;
}
.slider{
      padding: 22px 0px;
      margin-left: 32;
        
}

.ant-steps-item-icon{
    background-color: #b6ff9c;
    border-color: #b6ff9c;
    font-weight: bold;
}
.ant-steps-icon {
  color:white;
}
.ant-steps-item-title::after{
  background-color:#000000;
}
.ant-steps{
  margin-bottom: 5%!important;
}

.header-language-item.ant-dropdown-menu-item-selected {
  color: #d9945b !important;
  background-color: #ffe7c9 !important;
}

h2.ant-typography {
  color: #fff;
}

.ant-checkbox-wrapper {
  margin: 0;
  padding: 20px 0px;
  color: white;
  max-width: 550px;
  font-size: 14px;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  display: inline-flex;
  align-items: baseline;
  line-height: unset;
  cursor: pointer;
}

.ant-typography.tornado-link {
  margin: 0px 10%;
  color: rgb(250, 182, 47);
  font-size: 0.8em;
  line-height: 1.2em;
  padding-bottom: 20px;
  display: inline-block;
}

.ant-typography.tornado-link:hover {
  text-decoration: underline;
}

.wallet-address {
  overflow-wrap: break-word;
  color: white;
  background-image: linear-gradient(90.13deg, var(--theme-ui-colors-accent, #f67dc1) 25.89%, var(--theme-ui-colors-accentComplement, #7a56f1) 93.37%);
  border-radius: 32px;
  font-family: monospace;
  display: inline-block;
  text-align: center;
  margin: 0px auto 20px;
  padding: 12px 32px;
  font-size: 1.2em;
}

.ant-typography {
  color: #bbbbbb;
  font-family: system-ui;
  line-height: 1.6em;
}

.submit-profile-card {
  padding: 28px;
  background-color: #222;
  text-align: center;
  min-width: 70%;
  max-width: 900px;
  color: white;
  border: 1px solid #2f2f2f;
  /* border-color: #eee; */
  border-radius: 12px;
}
.image-rules{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

/* TODO: REMOVE */
.poh-content > div {
  opacity: 1 !important;
}
/* USED FOR SMART REFRESH IN WHICH OPACITY SETS TO 0  */

.camera-recording-icon {
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  font-size: 0;
  background-color: red;
  border: 0;
  border-radius: 50%;
  margin: 6px;
  outline: none;
}

@keyframes pulse{
	0% {
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65% {
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90% {
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}